<div class="container">
<div class="row row-cols-auto">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <img class="rounded-circle" [src]="myData.profileImage" alt="profile image">
    </div>
    
    <div class="col-xs-12 col-sm-3 col-md-3">
        <p><strong>{{ myData.name }}</strong></p>
        <p>{{ myData.position }}</p>
        <p>{{ myData.ubication }}</p>

    </div>

    <div class="col-xs-12 col-sm-9 col-md-9">
        <h2>Acerca de mi</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt illum vitae expedita ab excepturi, autem
            asperiores quas voluptatum maiores. Quisquam id rerum a labore tempora ipsa aliquid doloribus illo officia.
        </p>
        <div class="btn-edit">
            <a href="#" class="fa-solid fa-pen"></a>
        </div>
    </div>
</div>



</div>