img {
    width: 10rem;
    margin-top: -5.5rem;
    margin-left: 0.5rem;
}

.row {
    border: 1px solid #c0c0c0;
    background: #e9e9e9;
    border-radius: 0rem 0rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
}
p {
    margin-bottom: 0.2rem;
    text-align: left;
    padding-left: 1rem;
}