<header>
    <app-social></app-social>
    <div class="container">
    <img witdh="100%" [src]="myData.backImage" id="banner">
    </div>
</header>
<!-- <div class="card mat-card" id="first-card">
    <div id="profile-background">
            <img witdh="100%"
            [src] = "myData.backImage"
            />
    </div>
    <div id="info" style="padding:16px">
        <div id="info-img">
            <img height="150" witdh="100%" class = "profile-image"
            [src] = "myData.backImage"
            />
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
            </div>
        </div>
    </div>
    <div id="info-data">
        <div>
            <h1>{{myData.name}}</h1>
            <div id="info-company">Referente Informático</div>
            <div id="info-contact">
                <span>Tierra del Fuego (Argentina)</span>
                <span><a href="#">Información del contacto</a></span>
            </div>
        </div>
    </div>
</div> -->