nav {
    background-color: #183153;
    padding: 10px;
    margin-bottom: 10px;
}
nav img {
    width: 90px;
}

nav ul {
    float: right;
    list-style-type: none;
    margin-top: 0.5rem;
}

ul li {
    display: inline-block;
    padding: 0.4rem;
}

li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    /* padding: 0.3rem; */

}