<div>
    <div class="card-titles">
        <h2>Logros</h2>
        <div class="btn-edit">
            <a href="#" class="btn-right">
                <i class="fa-solid fa-pen"></i>
            </a>
        </div>
    </div>
    <div class="achivements">
        <h3>2</h3>
        <div>
            <div class="project-title">
                <h3>Proyectos</h3>
            </div>
            <div>
                <ul class="project-list">
                    <li>Mi App</li>
                </ul>
            </div>
        </div>
    </div>
</div>