<div id="header">
    <app-header></app-header>
    <app-about></app-about>
</div>
<div class="container">
    <div class="container-grey">
        <app-experience ></app-experience>
    </div>
    <div class="container-grey">
        <app-projects></app-projects>
    </div>
    <div class="container-grey">
        <app-education></app-education>
    </div>
    <div class="container-grey">
        <app-skills></app-skills>
    </div>
    <div class="container-grey">
        <app-projects></app-projects>
    </div>
        
</div>