
@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}
/*
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#info-img {
    display: flex
}*/
.btn-right {
    display: flex;
    align-self: flex-end;
}
.fa-pen {
    color: black;
    display: block;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    border-radius: 50%;
    background: white;
}
.fa-pen:hover{
    background: gray;
}

/* .mat-card {
    background: rgba(204,158,10,1);
    color:aliceblue; 
}*/ 

.fa .fa-solid {
    color:#fff;
    
}
body {
    /* background-color: #d6d6d6; */
    background-color: #d6d6d6;
    margin: 0px;
}