        <div clas="card-titles">
            <h2>Experiencia</h2>
            <div class="btn-edit">
                <a href="#" class="btn-righ"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <ul class="items-list">
            <li>
                <div class="row">
                    <a href="#">
                        <div class="logo-image-container col-md-2">
                            <img class="logo-image" src="https://educacion.tierradelfuego.gob.ar/wp-content/uploads/2021/04/se-edu.png">
                        </div>
                        <div class="col-md-10">
                            <div>
                            <h3>Referente informático</h3>
                        </div>
                    </div>
                </a>
                <h3>Periodo</h3>       
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nostrum delectus quaerat tempore nemo eius? Illo voluptas quod hic quae delectus impedit modi magni corrupti vero, ratione voluptatibus, enim aperiam.</p>
                </div>
            </li>
        </ul>
